---
import {Icon} from 'astro-icon/components'

const knownProviders = {
  email: {
    name: 'Email',
    prefix: 'mailto:',
    icon: 'simple-icons:protonmail',
    color: 'var(--gray12)',
  },
  github: {
    name: 'GitHub',
    prefix: 'https://github.com/',
    icon: 'simple-icons:github',
    color: 'var(--gray11)',
  },
  bluesky: {
    name: 'Bluesky',
    prefix: 'https://bsky.app/profile/',
    icon: 'simple-icons:bluesky',
    color: 'var(--gray11)',
  },
  twitter: {
    name: 'Twitter',
    prefix: 'https://x.com/',
    icon: 'simple-icons:x',
    color: 'var(--gray11)',
  },
  linkedin: {
    name: 'LinkedIn',
    prefix: 'https://linkedin.com/in/',
    icon: 'simple-icons:linkedin',
    color: 'var(--gray11)',
  },
  rss: {
    name: 'RSS Feed',
    prefix: '',
    icon: 'material-symbols:rss-feed',
    color: 'var(--gray11)',
  },
}

export type Props = {links: Record<string, string>}
const links = Object.entries(Astro.props.links).map(([key, value]) => {
  if (key.toLowerCase() in knownProviders) {
    const provider = knownProviders[key.toLowerCase() as keyof typeof knownProviders]
    return {
      name: provider.name,
      icon: provider.icon,
      color: provider.color,
      url: `${provider.prefix}${value}`,
    }
  }
  return {
    name: key,
    color: 'var(--gray11)',
    icon: 'material-symbols:arrow-outward',
    url: value,
  }
})
---

<div class="flex flex-row flex-wrap gap-4">
  {
    links.map((link) => (
      <a 
        href={link.url} 
        aria-label={link.name} 
        class="social-icon"
        title={link.name}
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name={link.icon} width="20" height="20" />
      </a>
    ))
  }
</div>

<style>
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray11);
    transition: all 0.2s ease;
  }

  .social-icon:hover {
    color: var(--gray12);
    transform: translateY(-1px);
  }
</style>
