---
import {getCollection} from 'astro:content'
import type { CollectionEntry } from 'astro:content'

interface Post extends CollectionEntry<'posts'> {
  data: {
    title: string;
    date: Date;
    unlisted?: boolean;
    sup?: string;
  }
}

function formatDate(date: Date): string {
  return date.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'short'
  });
}

let posts = await getCollection('posts', (post: CollectionEntry<'posts'>): post is Post => !post.data.unlisted)
posts = posts.sort((prev: Post, next: Post) => next.data.date.valueOf() - prev.data.date.valueOf())
---

<ul class="!pl-0 dashed">
  {
    posts.map((post: Post) => (
      <li class="group">
        <a class="!decoration-none transition-colors" href={`/posts/${post.id}`}>
          {post.data.title}
          {post.data.sup ? <sup class="italic text-orange-11">{post.data.sup}</sup> : null}
        </a>
        <div class="dash group-hover:border-gray-8" />
        <div class="text-gray-11 text-sm">{formatDate(post.data.date)}</div>
      </li>
    ))
  }
</ul>

<style>
  li {
    @apply py-1;
  }
  
  a {
    @apply hover:text-gray-12 focus:outline-none focus:text-gray-12;
  }
</style>
